
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.dev
/.env.prod
/.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> docker ###
docker-compose.override.yml
###< docker ###

###> os / ide ###
.DS_Store
.idea/
.vscode/
*.swp
*.swo
###< os / ide ###
